$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$light_green: #3ccc48fb;

$task_color_normal: $white;
$task_color_complete: #5fb7ff;
$task_color_warning: #fff88f;
$task_color_overdue: #ff9c8f;
