%table.aaa
  %tbody
    %tr
      %td{colspan: "4" }
        %label.a test
    %tr
      %td{colspan: "4"}
        %label.a test
    %tr
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
