.task-main{
  width: $main_width;
  float: left;

  .main-header{
    height: $header_height;
    padding: $padding_TB0_LR40px;
    @include flexbox;
    @include justify-content(space-between);
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    
    &__left-box{
      margin-top: 25px;
      margin-bottom:10px;

      &__current-group{
        font-size: 20px;
        color: $main_color_blackInk;
      }

      &__task-list{
        @include flexbox;
        font-size: 12px;
        list-style: none;

        &--total{
          background-color: $light_green;
          margin-left: $marginleft_interval;
        }

        &--complete{
          background-color: $task_color_complete;
          margin-left: $marginleft_interval;
        }

        &--pending{
          background-color: $task_color_pending;
          margin-left: $marginleft_interval;
        }

        &--warning{
          background-color: $task_color_warning;
          margin-left: $marginleft_interval;
        }
        
        &--overdue{
          background-color: $task_color_overdue;
          margin-left: $marginleft_interval;
        }
      }
    }

    &__edit-btn{
      height: $editButton_hight;
      line-height: $editButton_hight;
      padding: $padding_TB0_LR20px;
      margin-top: 30px;
      border: solid 2px $light_green;
      position: absolute;
      right: $editButton_maginRight;
    }

    a{
      color: $light_green;
      &:active{
        color: $light_green;
      }
    }
  }

  .tasks{
    height: $mainTasks_hight;
    padding: 20px 40px;
    background-color: $main_back_color;
    overflow: scroll;

    .task{
      padding-bottom: 20px;

      &__upper-info{
        @include flexbox;
        margin-bottom: 10px;

        &__talker{
          color:$main_color_darkgray;
          font-size: 16px;
          font-weight: bold;
        }

        &__date{
          color:$main_color_darkgray;
          font-size: 12px;
          margin-left: 10px;
        }

      }

      &__lower-info{
        color: $main_color_darkgray;

        &__target{
          font-size: 12px;
        }

        &__complete{
          font-size: 12px;
          margin-bottom: 10px;
        }

      }

      &--normal{
        background-color: $task_color_normal;
      }

      &--complete{
        background-color: $task_color_complete;
      }

      &--warning{
        background-color: $task_color_warning;
      }

      &--overdue{
        background-color: $task_color_overdue;
      }
    } 
  }

  .form{
    height: $form_height;
    padding: 20px 40px;
    background-color:#ddd;

    &__task-name{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    form{
      @include flexbox;
      tr{
        height: 40px;
      }
      .field{
        position: relative;
        width: $WidthMax;
        font-size: 14px;

        $fld_height: 30px;

        $th_width_title: 100px;
        $fld_width_title: 100%;
        
        $th_width_description: $th_width_title;
        $fld_width_description: $fld_width_title;
        
        $th_width_place: $th_width_title;
        $fld_width_place: $fld_width_title;
        
        $th_width_completed: 40px;
        $fld_width_completed: 20px;
        
        $th_width_priority_id: 90px;
        $fld_width_priority_id: 80px;

        $th_width_target_dt: 160px;
        $fld_width_target_dt: $th_width_target_dt - 10px;
        
        $th_width_target_tm: 120px;
        $fld_width_target_tm: $th_width_target_tm;

        $th_width_warning_st_days: 100px;
        $fld_width_warning_st_days: 50px;

        $th_width_tasklist: 180px;
        $fld_width_tasklist: $th_width_tasklist;

        &__label{
          height: 20px;
          width: $th_width_title;
          text-align: right;
        }

        &__title{
          height: 20px;
          width: $th_width_title;
          color: $main_color_darkgray;
          text-align: center;

          &--completed{
            width: $th_width_completed;
            text-align: center;
          }

          &--priority_id{
            width: $th_width_priority_id;
            text-align: center;
          }

          &--target_dt{
            width: $th_width_target_dt;
            text-align: center;
          }

          &--target_tm{
            width: $th_width_target_tm;
            text-align: center;
          }

          &--warning_st_days{
            width: $th_width_warning_st_days;
            text-align: center;
          }

          &--tasklist{
            width: $th_width_tasklist;
            text-align: center;
          }

          &--completed_at{
            width: $th_width_tasklist;
            text-align: center;
          }
        }
        
        &__text{
          height: 40px;
          width: 120px;
          color: $main_color_darkgray;
          border-style: none;

          &--title{
            height: $fld_height;
            width: $fld_width_title;
          }

          &--description{
            height: $fld_height;
            width: $fld_width_description;
          }

          &--place{
            height: $fld_height;
            width: $fld_width_place;
          }

          &--completed{
            width: $fld_width_completed;
            display: block;
            position: relative;
            margin: auto;
            
          }

          &--target_dt{
            height: $fld_height;
            width: $fld_width_target_dt;
            display: block;
            position: relative;
            margin: auto;
          }

          &--target_tm{
            height: $fld_height;
            width: $fld_width_target_tm;
            display: block;
            position: relative;
            margin: 0 auto;
          }

          &--warning_st_days{
            height: $fld_height;
            width: $fld_width_warning_st_days;
          }
        }

        &__combo{
          color: $main_color_darkgray;

          &--priority_id{
            height: $fld_height;
            width: $fld_width_priority_id;
          }

          &--tasklist{
            height: $fld_height;
            width: $th_width_tasklist;
          }
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin: 50px 15px;
        background-color: $light_green;
        color:$FontCcolor_default;
        cursor: pointer;
      }
    }
  }
}
