.mytask-main{
  width: $main_width;
  float: left;
  .main-header{
    height: $header_height;
    padding: $padding_TB0_LR40px;
    @include flexbox;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    &__left-box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: $main_color_blackInk;
        margin-bottom:15px;
      }
      &__member-list{
        @include flexbox;
        font-size: 12px;
        color: $main_color_lightgray;
        &__member{
          margin-left: $marginleft_interval;
          list-style: none;
        }
      }
    }
    &__edit-btn{
      height: $editButton_hight;
      line-height: $editButton_hight;
      padding: $padding_TB0_LR20px;
      margin-top: 30px;
      border: solid 1px $main_color_lightBlue;
      position: absolute;
      right: $editButton_maginRight;
    }
    a{
      color: $main_color_lightBlue;
      &:active{
        color: $main_color_lightBlue;
      }
    }
    
  }
  .tasks{
    height: $mainTasks_hight;
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .task{
      padding-bottom: 40px;
      &__upper-info{
        @include flexbox;
        margin-bottom: 10px;
        &__talker{
          color:$main_color_darkgray;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color:$main_color_lightgray;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__lower-info{
        &__text{
          color: $main_color_darkgray;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    } 
  }
  
  .form{
    height: $form_height;
    padding: 20px 40px;
    background-color:#ddd;
    form{
      @include flexbox;
      .input-box{
        position: relative;
        width: $WidthMax;
        &__text{
          height: 50px;
          width: $WidthMax;
          padding: 0 40px 0 10px;
          color: $main_color_darkgray;
          border-style: none;
        }
        &__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file{
            display: none;
          }
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $main_color_lightBlue;
        color:$FontCcolor_default;
        cursor: pointer;
      }
    }
  }
}
